*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.cricleicone{
  background-color: #EBEBEB;
  width: 28px;
  height: 28px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 12px;
  transition: background-color 0.9s ease;
}

.facebook:hover{
  background-color: #1877F2 !important;
  color: #fff !important;
}

.twitter:hover{
  background-color: black !important;
  color: #fff !important;
}
.instagram:hover{
  background: linear-gradient(#8a3ab9, #e95950, #fccc63);
  color: #fff !important;
}

.tiktok:hover{
  background: linear-gradient(#25f4ee, #000, #fe2c55);
  color: #fff !important;
}
.pinterest:hover{
  background-color: #db1215 !important;
  color: #fff !important;
}

/* lauguage */

.custom-dropdown {
  position: relative;
  padding-top: 10px;
}

.dropdown-btn {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 470;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.dropdown-menu-box {
  position: absolute;
  top: 30px;
  right: 0;
  width: 200px;
  background: #fff;
  padding: 13px;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  z-index: 999;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  font-size: 15px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f3f3f3;
}



/* navbar */ 

/* pages hover */

/* Pages submenu on hover */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

/* Positioning right side */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -5px;
}
.shope:hover{
  color: #db1215 !important;
  cursor: pointer;
}
.icons-wrapper .icon-box i {
  -webkit-text-stroke: 1px;    /* thickness */
  
}


.hover{
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.75rem; /* same as px-1 py-2 */
  color: black;
  font-size: 1rem; /* text-large */
  font-family: sans-serif;
  /* font-semibold */
  text-decoration: none;
  cursor: pointer;
}

.hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: rgb(10, 10, 10);
  transition: all 0.3s ease;
}

.hover:hover::after {   
  width: 5rem; /* same as w-12 in Tailwind (48px) */
}

.text{
  color: red;
}


.rotate-y-hover {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* background-color: bisque; */
}

.rotate-y-hover:hover {
  transform: rotateY(180deg);
}
.bg{
  background-color: #f8f6f3;
}

/* bagges iconme */

.icons-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px; /* Same spacing as image */
  
}
.icon-box i {
  cursor: pointer;
  font-weight:bolder;
}

.icon-box:hover{
  color: #db1215 !important;
}
.badge-count {
  position: absolute;
  top: -3px;
  right: -8px;
  background: #db1215;
  color: white;
  font-size: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
/* Apply smooth hover zoom only to the image */
.zoom-img {
  transition: transform 0.8s ease; /* smooth effect */
}

.zoom-img:hover {
  transform: scale(1.05); /* slight zoom */
}

/* .position-relative {
  overflow: hidden;
} */


/* home page */
.hoverborder:hover{
  border: 1px solid black;
  
  
}


/* Common wrapper for animation */
.banner-text h1,
.banner-text p,
.banner-text button {
  opacity: 0;
}

/* Heading animation */
.banner-text h1 {
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.3s;
}

/* Paragraph animation */
.banner-text p {
  animation: fadeSlideIn 1s ease-out forwards;
  animation-delay: 0.8s;
}

/* Button animation */
.banner-text button {
  animation: zoomIn 0.8s ease-out forwards;
  animation-delay: 1.2s;
}

/* Keyframes */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Hover effect on button */
.banner-text button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(151, 65, 75, 0.6);
  transition: all 0.3s ease-in-out;
}



/* marquee */

.scroll-wrapper {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}

.scroll-content {
  display: flex;
  animation: slide 17s linear infinite;
}

.scroll-content span {
  margin-right: 60px;
  font-size: 22px;
  
}

/* Smooth infinite loop */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* catargeris */
.cat-prev,
.cat-next {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.cat-prev:hover,
.cat-next:hover {
  background: #000;
  color: white ;
}
/* btn hover */

.button.category-btn {
  background-color: #ffffff !important;
  color: #000 !important;
  border: none !important;
  transition: all 0.3s ease !important;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}

/* Arrow hidden with no space */
button.category-btn i {
  opacity: 0;
  transform: translateX(-10px); /* completely off-screen */
  transition: all 0.3s ease !important;
  margin-left: 0;
}

/* Hover effect */
button.category-btn:hover {
  background: #000 !important;
  color: #fff !important;
  padding-right: 30px; /* button thoda bada hoga on hover */
}

/* Arrow appear on hover */
button.category-btn:hover i {
  opacity: 1;
  transform: translateX(5px); /* slide smooth */
  margin-left: 8px;
}


  
/* Seller  */
.category-card {
  border: 1px solid #ddd;
  border-radius: 18px;
  padding: 28px;
  height: 220px;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Arrow Button */
.arrow-btn {
  width: 0px;
  height: 0px;
  overflow: hidden;
  border-radius: 50%;
  border: none;
  background: #000;
  color: #fff;
  font-size: 20px;
  transition: all 0.35s ease-in-out;
  opacity: 0;
  transform: translateY(10px);
}

/* Hover Effect */
.category-card:hover .arrow-btn {
  width: 45px;
  height: 45px;
  opacity: 1;
  overflow: visible;
  transform: translateY(0px);
}

/* Card hover slight lift */
.category-card:hover {
  transform: translateY(-4px);
  border-color: #000;
}


/* scroll btn  */
/* ScrollToTop.css */
.scroll-to-top-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

.scroll-btn {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.10);
  overflow: visible;
}

/* Arrow center */
.arrow-icon {
  font-size: 20px;
  color: #000;
  z-index: 10;
}

.border-progress {
  position: absolute;
  inset: 0;
  border-radius: 8px;
  pointer-events: none;
}

.border-progress::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  border: 1px solid black;

  /* 4 side border animation */
  border-image: conic-gradient(#000 calc(var(--p) * 1%), transparent 0) 1;
  
  transition: border-image 0.2s linear;
}






/* client ratting*/

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ddd;
  font-size: 22px;
  cursor: pointer;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.slider-arrow:hover {
  background: #000;
  color: #fff;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}


/* happy clidents shope part */

/* Hotspot Circle */
.background:hover{
  background-color: black !important;
  color: #fff !important;
}
.hotspot {
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 50%;
  /* border: 2px solid #000; */
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hotspot .dot {
  width: 7px;
  height: 7px;
  background: #000;
  border-radius: 50%;
}

/* Popup Card */
.hotspot-card {
  position: absolute;
  background: #fff;
  /* border-radius: 15px; */
  padding: 5px 5px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  z-index: 20;
  transform: translate(-50%, -50%);
  min-width: 300px;
  animation: fadeIn 0.2s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -40%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .hotspot {
    width: 22px;
    height: 22px;
  }
  .hotspot-card {
    min-width: 200px;
    padding: 12px;
  }
}

/* Shope Gram style */
/* GRID SYSTEM WITHOUT ROW/COL */

.shopgram-grid {
  display: grid;
  gap: 15px;
  padding: 0 20px;
  grid-template-columns: repeat(2, 1fr);  /* mobile */
}

/* Tablet */
@media (min-width: 576px) {
  .shopgram-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Medium */
@media (min-width: 768px) {
  .shopgram-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Large */
@media (min-width: 992px) {
  .shopgram-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* IMAGE WRAPPER */

.shopgram-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}


.shopgram-img {
  width: 100%;
  height: auto;
  display: block;
}

/* HOVER ICON OVERLAY */

.shopgram-hover-icon {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.30s ease-in-out;
  background: rgba(114, 114, 114, 0.25);
}

.shopgram-image-wrapper:hover .shopgram-hover-icon {
  opacity: 1;
}




.shopgram-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.shopgram-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.shopgram-image-wrapper:hover .shopgram-img {
  transform: scale(1.05);
}

/* Hover icon center */
.shopgram-hover-icon {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s ease;
}

.shopgram-image-wrapper:hover .shopgram-hover-icon {
  opacity: 1;
}

.icon-circle {
  background: rgba(255, 255, 255, 0.95);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.icon-circle:hover {
  /* transform: scale(1.10); */
  background-color: black !important;
  color: #fff;
}

/* footer style */



/* logo */
.footer-logo {
  width: 150px;
}

/* normal text */
.footer-text {
  font-size: 14px;
  color: #333;
  margin: 4px 0;
}

/* small light text */
.footer-text-small {
  font-size: 14px;
  color: #262626;
  
}

/* link */
.footer-link {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

/* heading */
.footer-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}

.footer-list {
  list-style: none;
  padding: 0;
  line-height: 32px;
  font-size: 15px;
  cursor: pointer;
}

.footer-list li:hover {
  opacity: 0.6;
}

/* Get direction underline */
.footer-direction {
  font-weight: 300;
  margin-top: 15px;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 4px;
  cursor: pointer;
}


/* Input + Button Section */
.footer-input {
  border-radius: 0;
  height: 48px;
  border: 1px solid #ccc;
  padding-left: 15px;
}

.footer-btn {
  background: #000;
  color: #fff;
  border-radius: 0;
  padding: 0 20px;
}

.footer-btn:hover {
  opacity: 0.8;
}

/* flag + language */
.footer-lang {
  font-size: 14px;
  cursor: pointer;
}

/* line */
.footer-line {
  border-color: #ddd;
}




.footer-social-circle {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.footer-social-circle:hover {
  background: #000;
  color: #fff;
}

/* Shopping page styale */
.new-arrival-section {
  background-color: #f8f3f6;
}

/* Filter Button */
.filter-btn {
  border-radius: 8px;
  font-weight: 500;
}

/* RTL Button */
.rtl-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

/* Icons row styling */
.view-icons i {
  font-size: 20px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.3s;
}

.view-icons i:hover,
.view-icons .active-icon {
  opacity: 1;
}

/* Product Card */
.product-card img {
  border-radius: 12px;
}

/* Discount Badge */
.badge-discount {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #ff5722;
  padding: 4px 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.size{
  font-size: 35px;
  font-weight: 500;
  cursor: pointer;
}

.footer-img {
  height: 30px;
  object-fit: contain;
}
.bgred:hover{
  background-color: #db1215 !important;
  color: #fff !important;
}




.tab-btn::after {
  transition: all 0.3s ease;
}

.review:hover{
  color: #db1215 !important;
  border: 1px solid #db1215 !important;
}
.colorred:hover{
  color: #db1215 !important;
  cursor: pointer;
}